{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
{% endblock styles %}

{% block content %}
    <main>
        <section id="vantagens">
            <ul>
                <li>Qualidade</li>
                <li>Sabor</li>
                <li>Praticipade</li>
                <li>Agilidade</li>
            </ul>
        </section>
        <section id="sabores">
            <div id="sabores-h2">
                <h2>Sabores</h2>
            </div>
            <div id="sabores-content">
                <p>Conheça os nossos sabores de pizza</p>
                <img src="assets/sabores-pizzas.png" alt="Sabores de pizza">
            </div>
        </section>
        <section id="pedido">
            <h2>Pedido</h2>
            <form action="/" name="pedido">
                <table>
                    <thead>
                        <tr>
                            <th>Sabor</th>
                            <th>Valor por unid.</th>
                            <th>Quantidade pedido</th>
                            <th>Valor do pedido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item">
                            <td>Calabresa</td>
                            <td class="item-preco">12.50</td>
                            <td>
                                <a>-</a>
                                <input type="number" class="quantidade" value="0" name="calabresa" disabled>
                                <a>+</a>
                            </td>
                            <td calss="item-valor-pedido">0.00</td>
                        </tr>
                        <tr class="item">
                            <td>Mozzarela</td>
                            <td class="item-preco">11.50</td>
                            <td>
                                <a>-</a>
                                <input type="number" class="quantidade" value="0" name="mozzarella" disabled>
                                <a>+</a>
                            </td>
                            <td calss="item-valor-pedido">0.00</td>
                        </tr>
                        <tr class="item">
                            <td>Peperoni</td>
                            <td class="item-preco">14.00</td>
                            <td>
                                <a>-</a>
                                <input type="number" class="quantidade" value="0" name="peperoni" disabled>
                                <a>+</a>
                            </td>
                            <td calss="item-valor-pedido">0.00</td>
                        </tr>
                        <tr class="item">
                            <td>Marguerita</td>
                            <td class="item-preco">13.00</td>
                            <td>
                                <a>-</a>
                                <input type="number" class="quantidade" value="0" name="marguerita" disabled>
                                <a>+</a>
                            </td>
                            <td calss="item-valor-pedido">0.00</td>
                        </tr>
                        <tr class="item">
                            <td>Portuguesa</td>
                            <td class="item-preco">14.50</td>
                            <td>
                                <a>-</a>
                                <input type="number" class="quantidade" value="0" name="portuguesa" disabled>
                                <a>+</a>
                            </td>
                            <td calss="item-valor-pedido">0.00</td>
                        </tr>
                        <tr class="item">
                            <td>Alho</td>
                            <td class="item-preco">11.00</td>
                            <td>
                                <a>-</a>
                                <input type="number" class="quantidade" value="0" name="alho" disabled>
                                <a>+</a>
                            </td>
                            <td calss="item-valor-pedido">0.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="2">Total</td>
                        <td id="total-qtde">0</td>
                        <td id="total-valor">0.00</td>
                    </tfoot>
                </table>
                <input type="button" id="enviar-pedido" value="Enviar pedido">
            </form>
        </section>
    </main>
{% endblock content %}

{% block script %}
    <script src="scripts/index.js"></script>
{% endblock script %}