<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Hello Pizza</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="googlebot" content="noarchive">
        <link href="https://fonts.googleapis.com/css?family=Baloo|Reenie+Beanie|Roboto:400,500,500i" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
        {% block styles %}{% endblock styles %}
    </head>
    <body>
        <header id="header">
            <span id="logo"></span>
            <nav id="menu">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#sabores">Sabores</a>
                    </li>
                    <li>
                        <a href="#pedido">Pedido</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="content">
            {% block content %}{% endblock content %}
            {% block contentExtra %}{% endblock contentExtra %}
        </div>
        <footer>
            <span href="#header" id="logo"></span>
            <p>Todos os direitos reservados &copy; 2020</p>
        </footer>
    </body>
    {% block script %}{% endblock script %}
</html>